[user]
	name = "Patrick Jahn"
	email = "33724206+p-jahn@users.noreply.github.com"
	signingkey = "~/.ssh/ssh_signing.pub"
[url "ssh://git@github.com/"]
	insteadOf = "https://github.com/"
[core]
	excludesFile = "~/.gitignore"
[init]
	defaultBranch = "main"
[gpg]
	format = "ssh"
[commit]
	gpgsign = "true"
[alias]
	aa = "add ."
	amend = "commit --amend --no-edit"
	fp = "push --force-with-lease"
	aa-a-fp = "!git aa && git amend && git fp"
	l = "log --format=\"%Cblue%h %Cgreen%s %Creset%cn (%cI)\""
	t = "log --tags --simplify-by-decoration --format=\"%Cblue%h %Cblue%d %Cgreen%s %Creset%an (%cI)\""
[push]
	autoSetupRemote = true
[rerere]
	enabled = true
	autoUpdate = true
[branch]
	sort = -committerdate
[includeIf "gitdir:~/dev/work/"]
	path = .gitconfig-work
[includeIf "gitdir:~/go/"]
	path = .gitconfig-work
